
  
#chatroom { 
    overflow-y: scroll;
    max-height: 360px;
    height: 360px;
}
.user-list{
    float:left;
    width:300px;
    border:1px solid black;
    height:300px;
    padding:10px;
    overflow-y:scroll;
}
.send{
    color: white;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 30px;
}
.input-box{
    padding: 0px;
    margin-top: 5px;

}

.col-2{
    padding:0px;
}
.btn-success{

    margin: 0px;
    height: 35px;
}